header {
    height: auto;
    /* background-color: blue; */
    padding-top: 1px;
}

.nav-barra {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

header .redes {
    height: 50px;
    width: 80px;
    display: block;
    float: right;
}

.banner {
    background-color: red;
    height: 300px;
    width: 100%;
}

.banner img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.about {
    background-color: green;
}

.perfil {
    /* background-color: gray; */
    text-align: center;
}
.perfil .perfil__imagen--contenedor {
    height: 170px;
    width: 170px;
    border-radius: 50%; 
    overflow: hidden;
}
.perfil .perfil__imagen--contenedor .perfil__imagen {
    height: 170px;
    width: 170px;
    object-fit: cover;
}

.mt-n45{
    margin-top: -45%;
}

.informacion {
    background-color: yellow;
}

.logo_experiencia{
    height: 50px;
    width: 50px; 
    overflow: hidden;
}

.logo{
    height: 50px;
    width: 50px;
    object-fit: cover;
}