<div class="card mat-card">
    <div class="experiencia container">
        <div class="d-flex justify-content-between">
            <h2>Experiencia</h2>
            <a href="#"><i class="fa-solid fa-plus fa-2x"></i></a>
        </div>
        <ul>
            <li *ngFor="let experiencia of experienciaList">        
                <div class="row experiencia">
                    <div class="logo_experiencia col-4">
                        <img class="logo" [src]="experiencia.img" alt="{{experiencia.alt}}"/>
                    </div>
                    <div class="info_logo col">
                        <div class="d-flex justify-content-between">
                            <div>{{experiencia.position}}</div>
                            <a href="#"><i class="fa-solid fa-pen fa-lg"></i></a>
                        </div>                
                        <div>{{experiencia.company}}</div>
                        <div>{{experiencia.mode}}</div>
                        <div><p><time>{{experiencia.start}}</time> - <time>{{experiencia.end}}</time></p></div>
                        <div>{{experiencia.city}}</div>
                        <div>{{experiencia.description}}</div>
                    </div>
                </div>
                <hr>
            </li>
            <!-- <li>
                <div class="row experiencia">
                    <div class="logo_experiencia col-1">
                        <img class="logo" src="../assets/img/Gie.jfif" alt="Logo Gie"/>
                    </div>
                    <div class="info_logo2 col">
                        <div class="d-flex justify-content-between">
                            <div>Evaluador de campo y Analista Jr.</div>
                            <a href="#"><i class="fa-solid fa-pen fa-lg"></i></a>
                        </div>                
                        <div>GIE GROUP</div>
                        <div>Jornada completa</div>
                        <div><p><time>2017</time> - <time>2018</time></p></div>
                        <div>Mar del Plata, Provincia de Buenos Aires, Argentina</div>
                        <div>Analista Jr. y evaluador de campo para la integridad de ductos de
                            petróleo y gas. Utilización de equipos de ultrasonido para la medición
                            de espesores de ductos. Análisis bajo normas de los datos obtenidos en
                            campo para determinar la integridad de los ductos ensayados.
                        </div>
                    </div>
                </div>
                <hr>
            </li>
            <li>
                <div class="row experiencia">
                    <div class="logo_experiencia col-1">
                        <img class="logo" src="../assets/img/Abreu.jfif" alt="Logo Abreu"/>
                    </div>
                    <div class="info_logo3 col">
                        <div class="d-flex justify-content-between">
                            <div>Diseñador Mecánico</div>
                            <a href="#"><i class="fa-solid fa-pen fa-lg"></i></a>
                        </div>                
                        <div>Abreu S.A.</div>
                        <div>Jornada completa</div>
                        <div><p><time>2017</time> - <time>2017</time></p></div>
                        <div>Mar del Plata, Provincia de Buenos Aires, Argentina</div>
                        <div>Diseñador Mecánico. Limpieza y desarrollo de planos para corte por
                            chorro de agua y laser. Cotizaciones de proyectos. Diseño de máquinas
                            para la industria alimenticia.
                        </div>
                    </div>
                </div>
                <hr>
            </li>
            <li>
                <div class="row experiencia">
                    <div class="logo_experiencia col-1">
                        <img class="logo" src="../assets/img/Universidad.webp" alt="Logo Universidad"/>
                    </div>
                    <div class="info_logo4 col">
                        <div class="d-flex justify-content-between">
                            <div>Investigador Jr.</div>
                            <a href="#"><i class="fa-solid fa-pen fa-lg"></i></a>
                        </div>                
                        <div>Facultad Nacional de Ingenieria - UNMDP</div>
                        <div>Jornada completa</div>
                        <div><p><time>2015</time> - <time>2016</time></p></div>
                        <div>Mar del Plata, Provincia de Buenos Aires, Argentina</div>
                        <div>Participación en proyecto de investigación y desarrollo realizado en el área Tecnología 
                            Mecánica de la facultad, en conjunto con el equipo de Metrología compuesto por 5 
                            docentes investigadores y tesistas alumnos.
                        </div>
                    </div>
                </div>
                <hr>
            </li>
            <li>
                <div class="row experiencia">
                    <div class="logo_experiencia col-1">
                        <img class="logo" src="../assets/img/STIIngenieria.webp" alt="Logo STI Ingenieria"/>
                    </div>
                    <div class="info_logo5 col">
                        <div class="d-flex justify-content-between">
                            <div>Diseñador Mecánico</div>
                            <a href="#"><i class="fa-solid fa-pen fa-lg"></i></a>
                        </div>               
                        <div>STI Ingeniería</div>
                        <div>Jornada completa</div>
                        <div><p><time>2015</time> - <time>2016</time></p></div>
                        <div>Mar del Plata, Provincia de Buenos Aires, Argentina</div>
                        <div>Cálculo y diseño de Planta de Tratamientos de Efluentes. Cálculo y diseño de 
                            estructuras. Confección de lista de materiales. Confección tabla de cálculo para el 
                            diseño y dimensionamiento tanto de tuberías como de bombas. Trato con 
                            proveedores. Confección de informe sobre el proyecto realizado. Confección de 
                            planos de cada parte que involucraba el proyecto.                    
                        </div>
                    </div>
                </div>
            </li> -->
        </ul>
    </div>
</div>