<div class="card mat-card">
    <div class="experiencia container">
        <div class="d-flex justify-content-between">
            <h2>Experiencia</h2>
            <a href="#"><i class="fa-solid fa-plus fa-2x"></i></a>
        </div>        
        <div class="row experiencia">
            <div class="logo_experiencia col-4">
                <img class="logo" src="../assets/img/fluence.png" alt="Logo Fluence"/>
            </div>
            <div class="info_logo col">
                <div class="d-flex justify-content-between">
                    <div>Supervisor Diseño Mecánico</div>
                    <a href="#"><i class="fa-solid fa-pen fa-lg"></i></a>
                </div>                
                <div>Fluence Corporation</div>
                <div>Jornada completa</div>
                <div><p><time>2018</time> - <time>2022</time></p></div>
                <div>Mar del Plata, Provincia de Buenos Aires, Argentina</div>
                <div>Supervisor de Diseño Mecánico en el área de Ingeniería. Contacto con proveedores 
                    para el pedido de presupuesto y toma de decisión sobre los mismos. Personas a 
                    cargo, 4 diseñadores mecánicos. Supervisión de planos y listados de materiales para 
                    fabricación. Generación de listados de materiales para que el sector de compras 
                    realice las mismas. Confección y supervisión tanto de planos P&ID como de 
                    documentos para los clientes. Supervisión en los diseños de los equipos. Responsable 
                    a cargo de la gestión, administración, control y ejecución de proyectos.
                </div>
            </div>
        </div>
        <hr>
        <div class="row experiencia">
            <div class="logo_experiencia col-1">
                <img class="logo" src="../assets/img/Gie.jfif" alt="Logo Gie"/>
            </div>
            <div class="info_logo2 col">
                <div class="d-flex justify-content-between">
                    <div>Evaluador de campo y Analista Jr.</div>
                    <a href="#"><i class="fa-solid fa-pen fa-lg"></i></a>
                </div>                
                <div>GIE GROUP</div>
                <div>Jornada completa</div>
                <div><p><time>2017</time> - <time>2018</time></p></div>
                <div>Mar del Plata, Provincia de Buenos Aires, Argentina</div>
                <div>Analista Jr. y evaluador de campo para la integridad de ductos de
                    petróleo y gas. Utilización de equipos de ultrasonido para la medición
                    de espesores de ductos. Análisis bajo normas de los datos obtenidos en
                    campo para determinar la integridad de los ductos ensayados.
                </div>
            </div>
        </div>
        <hr>
        <div class="row experiencia">
            <div class="logo_experiencia col-1">
                <img class="logo" src="../assets/img/Abreu.jfif" alt="Logo Abreu"/>
            </div>
            <div class="info_logo3 col">
                <div class="d-flex justify-content-between">
                    <div>Diseñador Mecánico</div>
                    <a href="#"><i class="fa-solid fa-pen fa-lg"></i></a>
                </div>                
                <div>Abreu S.A.</div>
                <div>Jornada completa</div>
                <div><p><time>2017</time> - <time>2017</time></p></div>
                <div>Mar del Plata, Provincia de Buenos Aires, Argentina</div>
                <div>Diseñador Mecánico. Limpieza y desarrollo de planos para corte por
                    chorro de agua y laser. Cotizaciones de proyectos. Diseño de máquinas
                    para la industria alimenticia.
                </div>
            </div>
        </div>
        <hr>
        <div class="row experiencia">
            <div class="logo_experiencia col-1">
                <img class="logo" src="../assets/img/Universidad.webp" alt="Logo Universidad"/>
            </div>
            <div class="info_logo4 col">
                <div class="d-flex justify-content-between">
                    <div>Investigador Jr.</div>
                    <a href="#"><i class="fa-solid fa-pen fa-lg"></i></a>
                </div>                
                <div>Facultad Nacional de Ingenieria - UNMDP</div>
                <div>Jornada completa</div>
                <div><p><time>2015</time> - <time>2016</time></p></div>
                <div>Mar del Plata, Provincia de Buenos Aires, Argentina</div>
                <div>Participación en proyecto de investigación y desarrollo realizado en el área Tecnología 
                    Mecánica de la facultad, en conjunto con el equipo de Metrología compuesto por 5 
                    docentes investigadores y tesistas alumnos.
                </div>
            </div>
        </div>
        <hr>
        <div class="row experiencia">
            <div class="logo_experiencia col-1">
                <img class="logo" src="../assets/img/STIIngenieria.webp" alt="Logo STI Ingenieria"/>
            </div>
            <div class="info_logo5 col">
                <div class="d-flex justify-content-between">
                    <div>Diseñador Mecánico</div>
                    <a href="#"><i class="fa-solid fa-pen fa-lg"></i></a>
                </div>               
                <div>STI Ingeniería</div>
                <div>Jornada completa</div>
                <div><p><time>2015</time> - <time>2016</time></p></div>
                <div>Mar del Plata, Provincia de Buenos Aires, Argentina</div>
                <div>Cálculo y diseño de Planta de Tratamientos de Efluentes. Cálculo y diseño de 
                    estructuras. Confección de lista de materiales. Confección tabla de cálculo para el 
                    diseño y dimensionamiento tanto de tuberías como de bombas. Trato con 
                    proveedores. Confección de informe sobre el proyecto realizado. Confección de 
                    planos de cada parte que involucraba el proyecto.                    
                </div>
            </div>
        </div>
    </div>
</div>